src/RegisterApp/NDDDSample.RegisterApp/Service References/HandlingReportService/HandlingReportServiceFacade3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8089/HandlingReportServiceFacade?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NDDDSample.Interfaces.HandlingService.WebService" />
  <xs:element name="SubmitReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NDDDSample.Interfaces.HandlingService.WebService" minOccurs="0" name="handlingReport" nillable="true" type="q1:HandlingReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>